.trending-categories-section{padding:0 0 100px;}
.trending-categories-slider .slick-list{padding:0;}
.trending-categories-slider .slide-holder{padding:0 12px;height: 784px;}
.trending-categories-slider .slide-holder .row{height: 100%;}
.trending-categories-section .heading-section{margin:0 0 100px;}
.trending-categories-slider .slick-arrow{width:54px;height:54px;border:1px solid #fff;background:#000;border-radius:100%;overflow:hidden;font-size:27px;color:#000; z-index: 1;}
.trending-categories-slider .slick-arrow.slick-prev{left:-90px;}
.trending-categories-slider .slick-arrow.slick-next{right:-90px;}
.trending-categories-slider .slick-arrow:before{content:"";width:44px;height:44px;border-radius:100%;overflow:hidden;position: absolute;left:4px;top:4px;opacity:1;z-index:-1;transition:all ease-in-out 0.3s;background:#fff;}
.trending-categories-slider .slick-arrow svg{position: relative;z-index: 2;}
.trending-categories-slider .slick-arrow:focus{color:#000;}
.trending-categories-slider .slick-arrow:hover{color:#fff;}
.trending-categories-slider .slick-arrow:hover:before {background: linear-gradient(180deg, rgba(148,92,196,1) 0%, rgba(218,85,151,1) 100%); transition: all ease-in-out 0.3s;}
/* .trending-categories-slider .slick-arrow:after{content:"";width:0;height:0;border-radius:100%;overflow:hidden;position: absolute;left:4px;top:4px;z-index:1;background: rgb(148,92,196);opacity:1;z-index:-1;transition:all ease-in-out 0.2s;background: linear-gradient(180deg, rgba(148,92,196,1) 0%, rgba(218,85,151,1) 100%);}
.trending-categories-slider .slick-arrow:hover:after{width:44px;height:44px;} */
@media only screen and (max-width:1499px){
	.trending-categories-slider .slick-slide > div{text-align:center;max-width: 1220px;margin: 0 auto;}
	.trending-categories-slider .slick-arrow.slick-prev{left:-26px;}
	.trending-categories-slider .slick-arrow.slick-next{right:-26px;}
}
@media only screen and (max-width:1399px){
	.trending-categories-slider .slick-slide > div{max-width:1040px;}
}
@media only screen and (max-width:1199px){
	.trending-categories-section .heading-section{margin:0 0 80px;}
	.trending-categories-slider .slick-slide > div{max-width:840px;}
	.trending-categories-slider .slick-arrow.slick-prev{left:-10px;}
	.trending-categories-slider .slick-arrow.slick-next{right:-10px;}
}
@media only screen and (max-width:991px){
	.trending-categories-section{padding:0px 0 50px;}
	.trending-categories-section .heading-section{margin:0 0 50px;}
	.trending-categories-slider .slick-slide > div{max-width:600px;}
	.trending-categories-slider .slick-arrow.slick-prev{left:-10px;}
	.trending-categories-slider .slick-arrow.slick-next{right:-10px;}
	.trending-categories-slider .slide-holder {height: 1566px;}
}
@media only screen and (max-width:767px){
	/* .trending-categories-section{padding:30px 0;} */
	.trending-categories-slider .slick-slide > div{max-width:430px;}
}
@media only screen and (max-width:575px){
	/* .trending-categories-section{padding:30px 0 90px;} */
	.trending-categories-slider .slick-arrow.slick-prev,.trending-categories-slider .slick-arrow.slick-next{top:auto;bottom:-70px;}
	.trending-categories-slider .slick-arrow.slick-prev{left:50%;-o-transform:translateX(-60px);-ms-transform:translateX(-60px);-moz-transform:translateX(-60px);-webkit-transform:translateX(-60px);transform:translateX(-60px);}
	.trending-categories-slider .slick-arrow.slick-next{right:50%;-o-transform:translateX(60px);-ms-transform:translateX(60px);-moz-transform:translateX(60px);-webkit-transform:translateX(60px);transform:translateX(60px);}
	.trending-category-item .category-detail-block {right: 46px;bottom: 0px;}
	.trending-category-item .portrait-image .category-detail-block {right: 46px;}
	.trending-categories-section {padding: 80px 0 50px;}
}
@media only screen and (max-width:479px){
	.trending-category-item .category-detail-block {right: 0px;bottom: 0px;width: 100%;}
	.trending-category-item .portrait-image .category-detail-block {right: 0px;}
}
