.top-collection-item{border-radius: 20px;padding:30px 15px;margin:0 15px 30px;font-size:16px;line-height:25px;color:#FFF9F9;z-index:1;}
.top-collection-item:after{content:"";position: absolute;left:0;top:0;right:0;bottom:0;border-radius:20px;background: rgb(13,224,232);background: linear-gradient(180deg, rgba(13,224,232,1) 0%, rgba(203,3,251,1) 100%);opacity:0.29;transition: all ease-in-out 0.3s;z-index:-1}
.top-collection-item:hover:after{bottom:-20px;}
.top-collection-item .collection-price-values{padding:0 0 0 12px;}
.top-collection-item .currency-icon{width:19px;}
.top-collection-item .collection-logo-holder{width:88px;height:88px;border-radius:50%;}
.top-collection-item .collection-logo-holder img{width:100%;height:100% !important;object-fit:cover;border-radius: 50%;}
.top-collection-item .collection-detail-holder{width:calc(100% - 96px);}
.slick-slide .top-collection-item img{height:auto; padding: 0 !important;}
.top-collection-item .online-dot{width: 10px;height: 10px;display: block;border-radius: 50%;background: #169823 0% 0% no-repeat padding-box;position: absolute;top: 15px;left: 0;}
.top-collection-item .collection-name{transition: all ease-in-out 0.3s; cursor: pointer;}
.top-collection-item .collection-name:hover{color: rgb(216,23,150); }
/*responsiveness*/
@media only screen and (max-width:1499px){
	.top-collection-item .collection-price-values{padding:0;flex-wrap: wrap;}
}
@media only screen and (max-width:1399px){
	.top-collection-item .collection-logo-holder{width:50px;height:50px;}
	.top-collection-item .collection-detail-holder{width:calc(100% - 58px);}
	.top-collection-item .online-dot {top: 2px;}
}
@media only screen and (max-width:1199px){
	.top-collection-item .main-wrapper {flex-direction: column;}
	.top-collection-item .inner-wrapper {flex-direction: column !important;}
	.top-collection-item .collection-name {min-height: 50px;display: flex;align-items: center;justify-content: center;}
}
@media only screen and (max-width:991px){
	.top-collection-item .collection-detail-holder{width:100%;}
	.top-collection-item{margin:0 10px 20px;padding:15px 10px;}
	.top-collection-item .inner-wrapper {flex-direction: column !important;align-items: center !important;}
	.top-collection-item .main-wrapper {flex-direction: column;text-align: center;align-items: center;}
	.top-collection-item .collection-price-values {align-items: center !important;}
}
@media only screen and (max-width:767px){
	.top-collection-item{margin:0 10px 20px;}
}
@media only screen and (max-width:575){
	.top-collection-item{margin:0 0 20px;}
}